---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Inicio</a>
    <a href="/meli/">Meli</a>
    <h1>Para Meli</h1>

    <p>
      Hola Meli, espero que estés bien, ¿alguna vez te han dedicado un sitio web
      solo para ti?
    </p>

    <p>
      Lo hice yo!! Espero que te guste, es un sitio web muy sencillo, pero lo
      hice con mucho cariño.
    </p>
  </body>
</html>
